ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
body{
  background-color: #ccc;
}
.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
  height: 100vh;
  background-color: #ccc;
  overflow-x: hidden;
}

.app-wrapper__content {
    grid-area: c;
    background-color: hotpink;
}