.header img {
  position: absolute;
  top: 5px;
  left: 50px;
  width: 50px;
}

.header {
  grid-area: h;
  background-color: #868b9a;
  position: relative;
}

.loginBlock{
  position: absolute;
  right: 25px;
  top: 25%;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}