html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul, li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #fff;
}

.app-wrapper {
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  height: 100vh;
  background-color: #ccc;
  overflow-x: hidden;
}

.app-wrapper__content {
    grid-area: c;
    background-color: #d7d9e3;
}